<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>br.com.yuriteixeira.alfred.aerospace</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>64330120-634F-4B3B-AF1B-F5E2D3C45320</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3E834FC-163D-4E82-8842-5379C60A2C2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B3E834FC-163D-4E82-8842-5379C60A2C2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A38C2C95-3620-43EE-B255-7C7704CB17E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0862412-3AD7-4A9A-8111-8886742D9DD4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64330120-634F-4B3B-AF1B-F5E2D3C45320</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF9D1381-7756-456C-A2AA-221F7F8B6066</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64330120-634F-4B3B-AF1B-F5E2D3C45320</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yuri Pereira Teixeira</string>
	<key>description</key>
	<string>Shortcuts for common AeroSpace tasks (https://nikitabobko.github.io/AeroSpace/guide)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AeroSpace for Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./script.sh &gt; windows.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>64330120-634F-4B3B-AF1B-F5E2D3C45320</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>49</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>Space</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FF9D1381-7756-456C-A2AA-221F7F8B6066</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>3</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cat ./windows.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B3E834FC-163D-4E82-8842-5379C60A2C2C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

aerospace focus --window-id $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A38C2C95-3620-43EE-B255-7C7704CB17E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!aw</string>
				<key>subtext</key>
				<string>List visible windows, then focus on the selected one.</string>
				<key>text</key>
				<string>AeroSpace Windows</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E0862412-3AD7-4A9A-8111-8886742D9DD4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># AeroSpace for Alfred 

![AeroSpace for Alfred](./docs/assets/screenshot.png)

## What is AeroSpace

See https://nikitabobko.github.io/AeroSpace/guide

## Requirements

- **AeroSpace** (`brew install --cask nikitabobko/tap/aerospace`, see more in their [install instructions](https://github.com/nikitabobko/AeroSpace?tab=readme-ov-file#installation)

- **Jq** (`brew install jq`)

## How to use

1. Download the workflow from the [releases page](https://github.com/yuriteixeira/aerospace-workflow/releases) and install it by double-clicking the `.alfredworkflow` file.

2. Use the `!aw` (aerospace windows) to list all visible windows and select one to focus. ProTIP™: Set a shortcut like `Cmd + Alt + Ctrl + Space` in the workflow settings to bring the window list up.</string>
	<key>uidata</key>
	<dict>
		<key>64330120-634F-4B3B-AF1B-F5E2D3C45320</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>A38C2C95-3620-43EE-B255-7C7704CB17E1</key>
		<dict>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>B3E834FC-163D-4E82-8842-5379C60A2C2C</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>E0862412-3AD7-4A9A-8111-8886742D9DD4</key>
		<dict>
			<key>xpos</key>
			<real>150</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>FF9D1381-7756-456C-A2AA-221F7F8B6066</key>
		<dict>
			<key>xpos</key>
			<real>155</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/yuriteixeira/aerospace-workflow</string>
</dict>
</plist>
